.venv
.vscode
data/

__pycache__

scripts/splat/**/*.sdf
scripts/splat/**/*site_report.txt
scripts/splat/**/dcf
scripts/splat/**/.lcf
scripts/splat/**/*.ppm
scripts/splat/**/*.kml
scripts/splat/**/*.png
scripts/splat/**/*.kmz
scripts/splat/**/*.zip